* {
	margin: 0 0;
	padding: 0 0;
	box-sizing: border-box;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

html, body {
	font-size: 12pt;
	color: #333;
	height: 100%;
	font-family: $font-lora;  
	background-color: #f2f2f2;
}

.flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}